<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/output.css">
    <title>Weather App</title>
</head>
<body class="bg-blue-500">
    <div class=" text-center">
        <h1 class="mt-8 text-white text-5xl">Display Weather Data</h1>
        <form action="" class="mt-8 inline-block text-left">
            <input type="text" id="city" name="city" placeholder="Enter city name" class="p-[10px] text-lg border-r-4 border-s-orange-500"/>
            <button type="submit" class="bg-green-500 rounded-lg cursor-pointer ml-5 p-4">Get Weather Data</button>
        </form>
        <div id="weather-container"></div>
        <script src="/script.js"></script>
    </div>
</body>
</html>